.layout {
  min-height: 100vh;
}

.userCol {
  display: flex;
  flex-direction: row-reverse;
}

.userInfo {
  background-color: #ff0000;
  vertical-align: middle;
  margin-top: 12px;
}

.loginText {
  color: #ffffff;
}

.content {
  padding: 20px 50px;
}

.breadcrumb {
  margin-bottom: 16px;
}

.footer {
  background-color: #001529;
  color: #ffffff;
  padding: 12px 16px;
  text-align: center;
}

.footerText {
  color: #9ca3af;
}

