.container {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
