.container {
  min-height: 80vh;
}

.card {
  width: 100%;
  margin: 15px;
}

.flagImage {
  width: 20px;
  height: 15px;
  object-fit: cover;
}

.helperText {
  font-size: 12px;
  display: block;
  margin-top: 4px;
}

