/* Estilos específicos para la página de listado de mis productos */

.header {
  composes: header from './list-common.module.css';
  /* Ajustado de 16px a 12px */
  margin-bottom: 12px;
}

.statisticsRow {
  margin-bottom: 24px;
}

.filterDropdown {
  padding: 8px;
}

.filterInput {
  margin-bottom: 8px;
  display: block;
}

.filterButton {
  width: 90px;
}

.priceInput {
  width: 120px;
}

.priceText {
  color: #1890ff;
  font-size: 16px;
}

.tagStatus {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

