/* Estilos para el listado de productos del usuario */

/* Dropdown de filtros */
.filterDropdown {
  composes: filterDropdown from './list-common.module.css';
}

/* Input de filtro */
.filterInput {
  composes: filterInput from './list-common.module.css';
}

/* Botón de filtro */
.filterButton {
  composes: filterButton from './list-common.module.css';
}

/* Texto de precio */
.priceText {
  composes: priceText from './list-common.module.css';
}

.tagStatus {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

