/* Estilos para la tarjeta de transacción en el perfil de usuario */

.transactionCardLink {
  display: block;
  width: 100%;
}

.transactionCard {
  composes: card from './base.module.css';
  /* Los estilos específicos de transactionCard se mantienen aquí si son diferentes o adicionales */
  transition: all 0.3s;
}

/* .transactionCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
} */

.transactionTitle {
  font-size: 18px;
  margin-bottom: 0;
  color: var(--text-color);
}
